@model BusBookingApp.bus.Login
@{
	Layout=null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Register</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<style>
		.text-danger{
			color: crimson;
			font-size: 12px;
		}
	</style>
</head>
<body>
	<div class="container mt-5">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card">
					<div class="card-header">
						<h4>Register</h4>
					</div>
					<div class="card-body">
						<form method="post" action="~/Client/registeruser">
							<div class="form-group">
								@Html.LabelFor(m => m.userName,"UserName")<br>
								@* @Html.EditorFor(m => m.username,new {htmlAttributes =}) <br> *@
								@Html.EditorFor(m => m.userName, new { htmlAttributes = new { @class = "form-control" } })<br>
								@Html.ValidationMessageFor(m => m.userName,"",new{@class = "text-danger"})
							</div>
              				<div class="form-group">
								@* <label asp-for="phonenumber">phonenumber</label>
								<input type="tel" class="form-control" id="phoneNumber" name="phonenumber" asp-for="phonenumber" placeholder="Enter phonenumber" required>
								<span asp-validation-for="phonenumber" class="text-danger"></span> *@
								@Html.LabelFor(m => m.phonenumber,"Phone Number")<br>
								@Html.TextBoxFor(m => m.phonenumber,new{@class = "form-control"}) <br>
								@Html.ValidationMessageFor(m => m.phonenumber,"",new{@class = "text-danger"})
							</div>
							<div class="form-group">
								@* <label asp-for="email">Email</label>
								<input type="email" class="form-control" id="email" name="email" asp-for="email" placeholder="Enter Email" required>
								<span asp-validation-for="email" class="text-danger"></span> *@
								@Html.LabelFor(m => m.email,"Email")<br>
								@Html.TextBoxFor(m => m.email,new{@class = "form-control"}) <br>
								@Html.ValidationMessageFor(m => m.email,"",new{@class = "text-danger"})
							</div>
							<div class="form-group">
								@* <label for="password">Password</label>
								<input type="password" class="form-control" id="password" asp-for="password" name="password" placeholder="Password" required>
								<span asp-validation-for="password" class="text-danger"></span> *@
								@Html.LabelFor(m => m.password,"Password")<br>
								@Html.PasswordFor(m => m.password,new{@class = "form-control"}) <br>
								@Html.ValidationMessageFor(m => m.password,"",new{@class = "text-danger"})
							</div>
							@* <div class="form-group">
								<label asp-for="password">Confirm Password</label>
								<input type="password" class="form-control" id="confirmpassword" asp-for="password" name="confirmpassword" placeholder="Confirm Password" required>
								<span asp-validation-for="password" class="text-danger"></span>
							</div> *@
							<div class="mt-2 text-center">
								<button type="submit" class="btn btn-primary">Register</button>
								<p>Already have an account? <a asp-controller="Home" asp-action="Login" class="btn btn-link">Login</a></p>
							</div>
							@* <div asp-validation-summary="All" class="text-danger"></div> *@
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
		<style>
		.error {
			color: red;
		}
		</style>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNSjK3" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>
@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}    
